[Unit]
Description=Automatic restart script in the event the internet connection fails for more than a set time.
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=1

# Change this to a non-root user (for obvious reasons!)
User=secure-user
Group=secure-user

PrivateUsers=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ExecStart=/opt/secure-user/no-internet-restart

[Install]
WantedBy=multi-user.target