[Unit]
Description=Automatic restart and mangement script for virtual machines.
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=1

User=secure-user
Group=secure-user

PrivateUsers=true
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ExecStart=/opt/secure-user/vm-restart-script

[Install]
WantedBy=multi-user.target